<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".EmojiApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:forceDarkAllowed="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SUperJournalApp"
        tools:targetApi="31">
        <activity
            android:name=".applock.SetPasscodeScreen"
            android:exported="false" />
        <activity
            android:name=".applock.AppLock"
            android:exported="false" />
        <activity
            android:name=".utils.comingSoonActivity"
            android:exported="false" />
        <activity
            android:name=".screens.settings.ReminderScreen"
            android:exported="false" />
        <activity
            android:name=".screens.settings.SettingsScreen"
            android:exported="false" />
        <activity
            android:name=".screens.introScreens.IntroScreenTwo"
            android:exported="false" />
        <activity
            android:name=".screens.introScreens.GetNameIntroScreen"
            android:exported="false" />
        <activity
            android:name=".screens.introScreens.JournalTypesIntroTwo"
            android:exported="false" />
        <activity
            android:name=".screens.introScreens.JournalTypesScreenIntro"
            android:exported="false" />
        <activity
            android:name=".screens.introScreens.WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".screens.journals.DreamJournal"
            android:exported="false" />
        <activity
            android:name=".screens.journals.BulletJournal"
            android:exported="false" />
        <activity
            android:name=".screens.journals.ReflectiveJournal"
            android:exported="false" />
        <activity
            android:name=".screens.journals.GratitudeJournal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".utils.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>